{% extends 'aplicacion/base.html' %}
{% load static %}

{% block contenido %}
    <h2>Acerca de mi</h2>
    <p>
    ¡Hola todos! Mi nombre es Antonela Gabini y es un placer poder compartir un poco sobre quién soy y qué me motiva en mi viaje personal y profesional.
    </p>
    <p>
    Durante los ultimos 12 años y en la actualidad, formo parte de un call center, donde he tenido la oportunidad de poder desempeñar varias tareas administrativas.
    En las cuales he sido parte de la creacion de muchos modelos que hoy se utilizan en la empresa, lo cual me inspiro a iniciar un curso relacionado a la programacion.
    En el que hoy soy alumna de la plataforma de Coder House, en la cual comence el curso "Python" y esta es mi primer aplicacion creada. Con mucho esfuerzo, trabajando la paciencia y amor.
    </p>
    <p>
    Más allá de mi faceta profesional, también encuentro satisfacción en la creatividad. 
    Me fascina la cerámica y la oportunidad de crear piezas y experiencias con mis propias manos. 
    En mi tiempo libre, también tengo un amor por el dibujo, una forma de arte que me permite plasmar mis pensamientos y emociones.
    Ambas tareas, son mi cable a tierra.
    </p>
    <p>
    Un detalle mas sobre mi, es que soy "madre" de Bellota ♥! La perra mas intensa con alma eterna de cachorra, que me enseña todos los dias lo que es el amor leal y quien es fundamental en mi dia dia por su incondicional compañia.
    </p>
    <p>
    Este espacio es un pequeño visto a quien soy y lo que aspiro. Espero que disfruten explorando mi proyecto y conociendo más sobre mí en el proceso.
    </p>
    <p>
    Les deseo un dia lleno de brillitos y amor ☺
    </p>
{% endblock contenido %}